header {
    background-color:#322E2F; margin-bottom: 20px;  padding-bottom: 10px;
}
h1 {
    color: #C7DDCC; text-align: center; font-size: 50px ; margin-top: 40px;  padding-top: 10px;
}
nav {
    background-color:#C7DDCC; text-align: center; display: flex; margin-top:-25px; padding: 3px
}
a {
    color: #322E2F; width: 25%;
}
body {
    background-color: #75C9B7;
}
hgroup {
    background-color: #C7DDCC; display: flex; padding: 8px
}
article {
    background-color: #12A4D9; width: 80%; text-align: center; padding: 10px; margin-right: 8px;
}
aside {
    background-color: #D9138A; width: 20%; text-align: center; margin-left: -1px; padding: 10px; 
}
footer {
    background-color: #E2D810; text-align: center; margin-top: 15px; 
}