#a{
    font-size: 40px;
    font-weight: 900;
    grid-column: 1 / 4;
    text-align: start;
}
#b{
    font-size: 35px;
    font-weight: 400;
    padding-right: 7px;
    grid-column: 2 / 3;
    text-align: right;
}
#c{
    font-size: 65px;
    font-weight: 900;
    margin-top: -8px;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    text-align: start;
    line-height: 80px;
}
#d{
    font-size: 35px;
    font-weight: 400;
    grid-column: 3 / 4;
    text-align: start;
}
#nav1{
    padding-right: 295px;
}
.grid-container{
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, 135px) 415px;
    grid-template-areas: none;
    width: 775px;
}
#menores{
    margin-top: -15px;
}
body {
    margin: -8px;
}
hgroup {
    border: 1px; 
    margin-left: 157px; 
    margin-right: 157px; 
    padding-left: 12px; 
    padding-right: 12px;
}
nav {
    text-align: right; 
    border-top: 1px; 
    border-top-style: solid; 
    border-top-color: #D3D3D3; 
    padding: 12px;
}
a {
    color: #104c42; 
    text-decoration: none; 
    padding-left: 4px; 
    padding-right: 4px; 
    margin-left: 20px; 
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 14px;
    font-weight: 500;
}
a:hover {
    color: black;
    text-decoration: underline;
}
h1 {
    color: white; 
    padding-left: 56px; 
    padding-right: 12px; 
    margin-left: 295px;
    margin-right: 295px;
    font-family: Arial, Helvetica, sans-serif;
    background: url(../img/hero-vector.svg) no-repeat;
}
div {
    background: url(../img/hero.jpg) 100% / cover no-repeat; 
    padding-top: 48px; 
    padding-bottom: 48px; 
    padding-left: 12px; 
    padding-right: 12px;
    height: 338px;
}
article {
    text-align: center; 
    margin-left: 68px; 
    margin-right: 68px; 
    padding-left: 12px; 
    padding-right: 12px; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2 {
    color: #B08F5C;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    color: #646D6C;
}
b {
    
}
img {
    padding-top: 14px; 
    padding-bottom: 14px;
}